<%= include ./partials/header %>

<form class="container col-12 col-md-5" action="/profile/<%= currentUser._id %>/changePassword?_method=PUT" method="POST">
    <div class="form-group row">
        <label for="inputNewPassword" class="col-sm-3 col-form-label mt-3">New Password :</label>
        <div class="col-sm-9 mt-3">
        <input type="password" name="password[password]" class="form-control" id="inputNewPassword" placeholder="New Password">
        </div>
        <label for="inputNewReEnterPassword" class="col-sm-3 col-form-label mt-3">ReEnter New Password :</label>
        <div class="col-sm-9 mt-3">
        <input type="password" name="password[repassword]" class="form-control" id="inputNewReEnterPassword" placeholder="ReEnter New Password">
        </div>
    </div>
  <button type="submit" class="btn" style="background-color: rgb(184, 0, 0); color: white;">Change Password</button>
</form>
<div style="height: 80px;"></div>

<%= include ./partials/footer %>